#signup-form{
  display: flex;
  width: 50%;
  margin-right: 50px;
  flex-direction: column;
  gap: 10px;
}

#signup-form2{
  display: flex;
  width: 100%;
  margin-right: 50px;
  flex-direction: column;
  gap: 10px;
}

#signup-form > *, #signup-form input{
  padding-top: 5px;
  padding-bottom: 5px;
}

#signup-form input, #signup-form select {
  background-color: white;
}

.subjects > div{
  cursor: pointer;
}

.subjects > div:hover{
  background-color: #f0f0f0;
}

.subjects > *{
  width: 14%;
  font-size: 13px;
}

.subjects > div:nth-child(4){
  width: 15%;
}